/************************ GLOBAL CSS *****************************/
body {
    font-family: 'Lato', sans-serif;
}

.navbar-inverse {
    background-color: transparent !important;
    border: none !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #333 !important;
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
    font-weight: bold;
    font-size: 150%;
}

.navbar-inverse .navbar-nav > li > a:hover {
    opacity: 0.85;
}

.navbar-right {
    margin-top: 30px;
}

.navbar-right button {
    margin-top: 8px;
}

.affix {
    top: 0;
    width: 100%;
    z-index:9999;
    background-color: rgba(255, 190, 0, 0.85) !important;
    box-shadow: 1px 1px 2px #333;
    padding-bottom: 6px;
}
.affix + .container {
    padding-top: 70px;
}
.affix img {
    width: 100px !important;
    height: auto;
}
.affix .navbar-right {
    margin-top:5px;
    color: white !important;
}

.homeJumbo .btn-lg {
    border-radius: 0px !important;
}

.btn-danger {
    background-color: rgba(255, 190, 0, 0.85) !important;
    border: rgba(255, 190, 0, 0.85) !important;
    border-radius: 10px 30px !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: white !important;
    background-color: rgba(255, 190, 0, 0.99) !important;
    border: rgba(255, 190, 0, 0.99) !important;
    border-radius: 10px 30px !important;
}

.btn-danger a {
    text-decoration: none !important;
    color: white;
}

.btn-danger a:hover {
    color: white;
}
.btn-default {
    border-radius: 10px 30px !important;
}

.btn-default a {
    text-decoration: none !important;
    color: black;
}

.btn-default a:hover {
    border-radius: 10px 30px !important;
    color: black !important;
}

.bigDevicesBtn {
   -webkit-transition: background-color 0.7s;
    transition: background-color 0.9s;
}

.logo {
    width:180px; 
    height:auto;
}

footer {
    background-color: #222;
    background-image:linear-gradient(rgba(51, 51, 51, 0.98), rgba(51, 51, 51, 0.98)), url(../img/conceptional-architectural-designing-concept_G164JFwO_L.jpg);
    background-size: cover;
    width: 100%;
    padding: 50px;
    color: white;
} 

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: rgba(255, 190, 0, 0.85);
}

footer h4 {
    font-weight: bold;
    color: rgba(255, 190, 0, 0.85);
}

.CM {
    color: rgba(255, 190, 0, 0.85);
}

.fa-phone, .fa-envelope {
    color: rgba(255, 190, 0, 0.85);
}

.fb-widget {
        margin-bottom: 40px !important;
    }

/**************************** HOME PAGE *****************************/
.fa-heart {
    color: red;
}

#intro {
    background-image:linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url(../img/technology-1283624_640.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding: 100px 50px 100px 50px;
}

#intro h4 {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}

#intro .first {
    padding-bottom: 100px;
    font-size: 1.3em;
}



#intro p {
    margin-top: 30px;
    text-align: center;
}

.p-hover {
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

.p-hover:hover {
    font-size: 117%;
}
 
/* unvisited link */
#intro a:link {
    color: black;
}

/* visited link */
#intro a:visited {
    color: black;
}

/* mouse over link */
 #intro a:hover {
    color: white;
     text-decoration: none;
}

/* selected link */
 #intro a:active {
    color: white;
}

/* Button Service */

@keyframes buttonAnimation {
    from { padding: 10px 20px; font-size: inherit; }
    to   { padding: 15px 30px; font-size: 24px; }
}

.buttonService {
    display: inline-block;
    background: linear-gradient(rgba(255, 190, 0, 0.85), rgba(190, 146, 18, 0.85));
    border: solid 1px #999;
    border-radius: 10px 30px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.buttonService:hover {
    border-color: #888;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
   background: rgba(217, 166, 17, 0.85);
    background: linear-gradient(to top, rgba(255, 190, 0, 0.85), rgba(190, 146, 18, 0.85));
    animation-name: buttonAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
     border-radius: 15px 50px;
}

.buttonService:active {
    position: relative;
    top: 1px;
}

/* Button Call */

@keyframes buttonAnimation {
    from { padding: 10px 20px; font-size: inherit; }
    to   { padding: 15px 30px; font-size: 24px; }
}

.buttonCall {
    display: inline-block;
    background: linear-gradient(#333, #555);
    border: solid 1px #999;
    border-radius: 10px 30px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.buttonCall:hover {
    border-color: #888;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    background: white;
    background: linear-gradient(to top, #333, #555);
    animation-name: buttonAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border-radius: 15px 50px;
}

.buttonCall:active {
    position: relative;
    top: 1px;
}

/* unvisited link */
.yellowBottom a:link {
    color: white;
}

/* visited link */
.yellowBottom a:visited {
    color: white;
}

/* mouse over link */
.yellowBottom a:hover {
    color: white;
     text-decoration: none;
}

/* selected link */
.yellowBottom a:active {
    color: white;
}

.logo {
    margin-top: -14px !important;
}

.logo:hover {
    opacity: 0.9;
}

.homeJumbo {
    background-image:linear-gradient(rgba(85, 85, 85, 0.45),rgba(85, 85, 85, 0.45)), url(../img/vancouver-home.jpg);
    background-size: cover;
	height: 700px;
    text-align: center;
    margin-bottom: 0 !important;
    background-attachment: fixed;
}

.homeJumbo h1 {
    padding: 120px 0 120px 0;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.homeJumbo h1 span {
    font-weight: bold;
}

.story {
    padding-bottom: 60px;
}

.story h1 {
    color: rgba(255, 190, 0, 0.85);
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
}

.story h1:after {
    display: block;
    height: 2px;
    background-color: #333;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-eye {
    color: #333;
}


/* unvisited link */
.services a:link {
    color: black;
}

/* visited link */
.services a:visited {
    color: black;
}

/* mouse over link */
 .services a:hover {
    color: #403c3c;
     text-decoration: none;
}

/* selected link */
 .services a:active {
    color: #403c3c;
}

.homeJumbo .bigDevicesBtn {
    font-size: 1.4em;
    padding: 25px;
    border-radius: 0 !important;
}

.btn-lg {
    font-size: 30px !important;
}

#works { 
    background-image:linear-gradient(rgba(211, 211, 211, 0.95),rgba(211, 211, 211, 0.95)), url(../img/more-less-symbol-with-ancient-drawing-vector-illustration_zkIK3fdd_L.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0 100px 0;
    color: black;
    background-attachment: fixed;
}

#works .col-sm-4 {
    padding: 40px;
}

#works img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#works img:hover {
    opacity: 0.7;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 3px 3px 5px;
    -moz-box-shadow: 3px 3px 5px;
    -o-box-shadow: 3px 3px 5px;
    box-shadow: 3px 3px 5px;
}

#works h3 {
    text-align: center;
    background-color: white;
    padding: 10px;
    font-size: 120%;
}

#works h2 {
    color: #333;
    letter-spacing: 2px;
}

#socialResponsibility {
    background: rgba(255, 190, 0, 0.85);
    background-image:linear-gradient(rgba(255, 190, 0, 0.85), rgba(255, 190, 0, 0.85)), url(../img/socialImg/soc5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0 100px 0;
}

#socialResponsibility h3 {
    padding-left: 15px; 
    color: #333;
    font-weight: bold;
}

#socialResponsibility p {
    color: #333;
    font-size: 115%;
    text-align: justify;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
}

#myCarousel3 {
    border: 1px solid #333;
}

#myCarousel3 .carousel-indicators li {
   display: none;
}

#myCarousel3 .carousel-control {
    color: rgba(255, 190, 0, 0.85);
}

.socialBottom {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    background: rgba(255, 190, 0, 0.85);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

/************************** ABOUT PAGE**********************************/
.aboutJumbo  { 
    background-color: rgba(255, 190, 0, 0.85) !important;
	height: 500px;
    text-align: center;
    margin-bottom: 0 !important;
}

.aboutJumbo h1 {
    margin-top: 130px;
    color: white !important;
 
}

@keyframes Heading {
    0%{color:white;}
    25%{color: #333);}
    50%{color: white;}
    100%{color: #555;}   
}

@-webkit-keyframes Heading {
    0%{color:white;}
    25%{color: #333);}
    50%{color: white;}
    100%{color: #555;}   
}

@-moz-keyframes Heading {
    0%{color:white;}
    25%{color: #333);}
    50%{color: white;}
    100%{color: #555;}   
}

@-0-keyframes Heading {
    0%{color:white;}
    25%{color: #333);}
    50%{color: white;}
    100%{color: #555;}   
}


.aboutJumbo h1 {
 
    -webkit-animation: Heading 20s infinite alternate;
    -moz-animation: Heading 20s infinite alternate;
    -o-animation: Heading 20s infintie alternate;
    animation: Heading 20s infintie alternate;
}

.about_jumbo_paragraph {
    padding-top: 35px;
    padding-left: 75px;
    padding-right: 75px;
    color: white !important;
    line-height: 1.4em;
    /*text-shadow: 0 0 1px black;*/
}

.aboutJumbo h5 {
    margin-top: 50px;
    font-size: 150%;
    color: #333;
    font-style: italic;
}

.aboutJumboSpan {
    background-color: white;
}

.aboutBorn {
    padding-top: 80px;
    padding-bottom: 50px;
    background-image:linear-gradient(rgba(51, 51, 51, 0.98), rgba(51, 51, 51, 0.98)), url(../img/abstract-design-vector-background_MyzLp-du_L-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1500px;
    text-align: center;
    color: white;
}

.aboutBorn h1 {
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 55px;
}

.aboutBorn h5 {
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.aboutBorn p {
    text-align: justify;
    font-size: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
     -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
  
}

.aboutBorn p:hover {
    font-size: 120%;
}

.aboutPicture {
    width: 50%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 190, 0, 0.85);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.aboutPicture:hover {
   -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 2px 2px 4px;
    -moz-box-shadow: 2px 2px 4px;
    -o-box-shadow: 2px 2px 4px;
    box-shadow: 2px 2px 4px;
}



.small {
    color: rgba(255, 190, 0, 0.85) !important;
}

#webDesign {
    background-image:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(../img/white-crumpled-abstract-background_MJJSlyvO_L-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0 100px 0px;
}

#webDesign .col-md-8 {
    padding: 55px 55px 35px 80px;
    text-align: justify;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

#webDesign .col-md-8:hover {
    font-size: 1.1em;
}

#webDesign .col-md-4 img,
#seo .col-md-4 img,
#business-view .col-md-4 img {
    margin-top: 50px;
}

#webDesign h4,
#seo h4,
#business-view h4,
#brand h4 {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 25px;
    color: #333;
}

#webDesign p,
#seo p,
#business-view p,
#brand p {
    line-height: 2.4em;
    color: #333;
}

#webDesign a,
#seo a,
#business-view a,
#brand a {
    letter-spacing: 1px;
    color: rgba(255, 190, 0, 0.85) !important;
    background-color: #333;
    padding: 2px;
}

#seo {
    background-image:linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url(../img/white-crumpled-abstract-background_MJJSlyvO_L-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0 100px 0;
    color: white;
}

#seo .col-md-8 {
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
    padding: 60px 80px 60px 0px;
}

#seo .col-md-8:hover {
   font-size: 1.1em;
}

#business-view {
    background-image:linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),
    url(../img/white-crumpled-abstract-background_MJJSlyvO_L-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0 100px 0;
}

#business-view .col-md-8 {
    padding: 60px 105px 35px 0px;
    text-align: justify;
}

#brand { 
    background-image:linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url(../img/white-crumpled-abstract-background_MJJSlyvO_L-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0 100px 0;
    color: black;
}

#brand .col-md-8 {
    padding: 55px 0px 35px 105px;
    text-align: justify;
}

#about-end  {
    background-image:linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../img/WM2A4339-613-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 100px 0;
}

#about-end h3 {
    padding-top: 60px;
    color: rgba(255, 190, 0, 0.85); 
    letter-spacing: 2px;
}

#about-end h2 {
    color: rgba(255, 190, 0, 0.85); 
    padding-bottom: 50px;
}

#about-end ul {
    color: white;
    padding-bottom: 60px;
    font-size: 1.3em;
    line-height: 1.6em;
}


.indent1 {
    text-indent: 20px;
}

.indent2 {
    text-indent: 40px;
}

.indent3 {
    text-indent: 60px;
}

.indent4 {
    text-indent: 80px;
}

.indent5 {
    text-indent: 100px;
}

.indent6 {
    text-indent: 120px;
}

.fa-asterisk {
    color: rgba(255, 190, 0, 0.85);
}

/************************** CONTACT PAGE ***************************/

#myCarousel .carousel-indicators li {
    border-color: #333;
}

#myCarousel .carousel-indicators li.active {
    background-color: #333;
}

#myCarousel .item h2 {
    color: white;
    font-size: 230%;
    letter-spacing: 2px;
    margin: 140px 0;
    /*text-shadow: 0 0 1px black;*/
}

#myCarousel .item span {
    font-style: normal;
}

.contactJumbo  { 
    background-color: rgba(255, 190, 0, 0.85) !important;
	height: 400px;
    text-align: center;
    margin-bottom: 0 !important;
   
}

.contactJumbo p {
    font-size: 120% !important;
    padding: 25px;
    text-align: center;
    color: black !important;
}

#googleMap {
    width: 100%; 
    height: 500px; 
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

#contact {
    text-align: center;
    background-image: linear-gradient(rgba(255, 190, 0, 0.85),rgba(255, 190, 0, 0.85)),
    url(../img/calgary-116093_640.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0 150px 0;
}

#contact h3 {
    color: #333;
    line-height: 1.8;
    font-size: 130%;
    background: rgba(255, 255, 255, 0.55);
    padding: 30px;
    border: 1px solid lightgray;
}

#contact a {
    padding: 2px;
    color: rgba(255, 190, 0, 0.85);
    text-shadow: 0 0 3px black;
}
/* FORMA */

.section-form {
    background-color: rgba(255, 190, 0, 0.85);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),
    url(../img/vancouver-363681_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact-form {
    width: 60%;
    margin: 100px auto;
}

#form .col-md-10 {
    padding-bottom: 30px;
}
/* Button Send */

.buttonSend input {
    padding-top: 20px;
}

.buttonSend input {
    padding: 5px 30px;
}

@keyframes buttonAnimation {
    from { padding: 10px 20px; font-size: inherit; }
    to   { padding: 15px 30px; font-size: 24px; }
}

.buttonSend input {
    display: inline-block;
    background: rgba(255, 190, 0, 0.85);
    background: linear-gradient(rgba(255, 190, 0, 0.85), rgba(190, 146, 18, 0.85));
    border-radius: 10px 30px !important;
    border: solid 1px #999;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 1px 2px black;
}

.buttonSend input:hover {
    border-color: #888;
    text-shadow: 0 1px 2px black;
    background: rgba(217, 166, 17, 0.85);
    background: linear-gradient(to top, rgba(255, 190, 0, 0.85), rgba(190, 146, 18, 0.85));
    animation-name: buttonAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border-radius: 15px 80px;
}

.buttonSend input:active {
    position: relative;
    top: 1px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

.form-messages  {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: lightcoral;
}


#map {
    width: 100%;
    height: 500px;
    webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

/************************* SOCIAL-RESPONSIBILITY  ************************/

.socialJumbo {
    /*background-image: linear-gradient(rgba(51, 51, 51, 0.6),rgba(51, 51, 51, 0.6)),*/
    background-image:linear-gradient( rgba(255, 190, 0, 0.85), rgba(255, 190, 0, 0.85)),
    url(../img/socialJumbo3.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    padding: 100px 0 100px 0;
    background-attachment: fixed;
    margin-bottom: 0 !important;
}

.socialJumbo .container {
    margin-top: 150px;
}

.title {
    font-size: 1.9em !important;
    line-height: 5px !important;
    margin-top: 55px;
     text-shadow: 0 0 1px black;
    color: white !important;
    
   
}
.title b {
    font-size: 2em !important;
    letter-spacing: 2px;
    margin-top: 5px;
}

#aboutImmigrantCentre {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),
    url(../img/conceptional-architectural-designing-concept_G164JFwO_L.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0 100px 0;
} 

#aboutImmigrantCentre h2 {
    padding-bottom: 50px;
}

#aboutImmigrantCentre p {
    line-height: 1.7em;
    font-size: 120%;
    text-align: justify;
}

#socSlider {
    /*background-image:linear-gradient(rgba(211, 211, 211, 0.94), rgba(211, 211, 211, 0.94)), url(../img/conceptional-architectural-designing-concept_G164JFwO_L.jpg);
    background-position: center;
    background-size: cover;*/
    background: /*rgba(211, 211, 211, 0.94)*/rgba(255, 190, 0, 0.85);
    padding: 100px 0 100px 0;
}

#myCarousel2 {
    border: 2px solid #333;
}

#myCarousel2 img {
    width: 100%;
    height: auto;
}

#myCarousel2 .carousel-indicators li {
    border-color: rgba(255, 190, 0, 0.85);
}

#myCarousel2 .carousel-indicators li.active {
    background-color: rgba(255, 190, 0, 0.85);
}

#myCarousel2 .carousel-control {
    color: rgba(255, 190, 0, 0.85);
}


#social {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),
    url(../img/conceptional-architectural-designing-concept_G164JFwO_L.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0 150px 0;
}

#social .col-md-10 {
    text-align: justify;
}

#social p {
    font-size: 1.1em;
    line-height: 30px;
}

#social .row {
    margin-bottom: 35px;
}
    
/************************  SERVICES  ****************************/


.developmentJumbo,
.seoJumbo,
.businessviewJumbo,
.brandJumbo{
    background-color: rgba(255, 190, 0, 0.85) !important;
	height: 450px;
    text-align: center;
    margin-bottom: 0 !important;
}

.developmentJumbo span,
.seoJumbo span,
.businessviewJumbo span,
.brandJumbo span{
    margin-top: 70px;
}

.developmentJumbo h2 {
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
    font-size: 250% !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #333 !important;
}

#webDesignPage {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),
    url(../img/computer-1209641_640.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0 150px 0;
}

#webDesignPage h4,
#seoPage h4,
#businessviewPage h4,
#brandPage h4 {
    line-height: 1.8;
}

.seoJumbo h2 {
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
    font-size: 250% !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #333 !important;
}

#seoPage {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.93),rgba(255, 255, 255, 0.93)),
    url(../img/seo-896175_640.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0 150px 0;
}

.businessviewJumbo h2 {
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
    font-size: 250% !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #333 !important;
}

#businessviewPage {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),
    url(../img/white-crumpled-abstract-background_MJJSlyvO_L-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0 150px 0;
}

.brandJumbo h2 {
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
    font-size: 250% !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #333 !important;
}

#brandPage {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),
    url(../img/business-925900_640.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0 150px 0;
}

.yellowBottom {
    background: rgba(255, 190, 0, 0.85);
    padding-top: 70px;
    padding-bottom: 70px;
}

.yellowBottom h3 {
    color: white;
    font-size: 200%;
    font-weight: bold;
}

.yellowBottom p {
    color: white;
    font-size: 130%;
    font-weight: bold;
}

.yellowBottom button {
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px 50px !important;
    font-weight: bold;
    color: #333 !important;
}

.yellowBottom button a {
    color: #333 !important;
}

.yellowBottom button a:hover {
    color: #333 !important;
}


/************************ WORK WITH US PAGE **************************/

#workWithUsPage {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.90),rgba(255, 255, 255, 0.90)),
    url(../img/blur-1867745_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 0 50px 0;
}

.work-with-us {
    text-align: justify;
    line-height: 1.7em;
}

.work-with-us .fa-angle-double-down,
.work-with-us .fa-angle-double-left,
.work-with-us .fa-angle-double-right {
    
    font-size: 6em;
}

.work-with-us .fa-cog {
    font-size: 4em;
    color: #333;
}

.work-with-us img {
    margin: 0 auto;
    width: 70%;
}

.work-with-us ul li {
    list-style: none;
}

.work-with-us .col-md-6 {
    position: relative;
    padding: 50px;
}

.fa-cog {
    position: absolute;
    top: 65%;
    left: 20%;
    color: white;
}

.fa-angle-double-right {
    position: absolute;
    top: 50%;
    right: 2%;
    -ms-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
    transform: rotate(20deg);
}

#myCarousel img {
    width: 100%;
    height: auto;
}

#myCarousel .carousel-indicators li {
    border-color: rgba(255, 190, 0, 0.85);
}

#myCarousel .carousel-indicators li.active {
    background-color: rgba(255, 190, 0, 0.85);
}

#myCarousel .carousel-control {
    color: rgba(255, 190, 0, 0.85);
}

.client-benefits h2 {
    margin-top: 150px;
}

.client-benefits ul {
    padding-top: 30px;
}

.client-benefits ul li {
    border-bottom: 1px solid #555;
    padding:5px 0 5px 0;
    font-size: 1.3em;
}

.client-benefits .fa-angle-double-down {
    position: absolute;
    top: 90%;
    left: 40%;
}

.project-brief h2 {
    padding-top: 20px;
}

.project-brief ul li {
    border-bottom: 1px solid #555;
    padding:5px 0 5px 0;
    font-size: 1.3em;
}

.project-timeline h2 {
    padding-top: 170px;
}

.project-timeline ul li {
    border-bottom: 1px solid #555;
    padding:5px 0 5px 0;
    font-size: 1.3em;
}
.project-timeline .fa-angle-double-down {
    position: absolute;
    top: 95%;
    left:40%;
}

.project-brief .fa-angle-double-left {
    position: absolute;
    top: 50%;
    left: -5%;
    -ms-transform: rotate(-40deg); 
    -webkit-transform: rotate(-40deg); 
    transform: rotate(-40deg);
}

.project-brief ul {
    padding-top: 20px;
}

.project-process .fa-angle-double-right {
    position: absolute;
    top: 40%;
    right: -8%;
}

.coquitlam-media-products h2 {
    padding-top: 200px;
}

.coquitlam-media-products ul li {
    border-bottom: 1px solid #555;
    padding:5px 0 5px 0;
    font-size: 1.3em;
}

.product-benefits .arrows {
    position: relative;
}

.product-benefits .fa-angle-double-down {
    position: absolute;
    top: 10%;
    right: 250%;
    font-size: 8em;
    -ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg); 
    transform: rotate(40deg);
}

.product-benefits .content {
    padding-top:100px;
    text-align: center;
}
.product-benefits .content .one,
.product-benefits .content .two,
.product-benefits .content .three {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
    color: white;
}

.product-benefits .content p {
    padding-top: 80px;
}



/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
 
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .homeJumbo {
        height: 550px;
    }
    
    .homeJumbo h1 {
        margin-top: -20px;
    }
    
    .logo {
        width:130px; 
        height:auto;
    }
    
     .typist-text {
        margin: 150px 0 80px 0;
        font-size: 250% !important;
    }
    
     .bigDevicesBtn {
        font-size: 100% !important;
    }
    
    #intro {
        padding: 50px 10px 50px 10px;
    }
    
    #intro p {
      padding:70px;
    }
    
    footer.col-sm-3:last-child {
        display: none !important;
    }
    
    footer ul li a {
        font-size: 0.9em !important;
        line-height: 2 !important;
    } 
    
    footer .fa-square-o,
    footer .fa-arrow-up {
        margin-left: -60px;
    }
    
    .navbar-inverse .navbar-nav > li > a {
        font-size: 100%;
    }
    
    .aboutJumbo  { 
        height: 650px;
        text-align: center;
    }
    
    
    .aboutBorn {
        padding-top: 80px;
        padding-bottom: 90px;
        height: 1350px;
    }
    
    .aboutBorn p {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    
    #webDesign .col-md-8 {
        padding: 20px;
    }
    
    #seo .col-md-8 {
        padding: 20px;
    }

    
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 190, 0, 0.85) !important;
    }
    .navbar-collapse {
        background-color: rgba(255, 190, 0, 0.85);
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 110%;
    }
    .homeJumbo .btn {
        font-size: 100% !important;
        text-align: center;
    }
    
    .typist-text {
        margin: 130px 0 40px 0;
        font-size: 200% !important;
    }
    
    .homeJumbo {
        height: 400px;
        text-align: center;
        margin-bottom: 0 !important;
        background-attachment: fixed;
    }
    
    .homeJumbo h1 {
        font-size: 2em;
        margin-top: -20px;
    }
    
    .logo {
        width:80px; 
        height:auto;
    }
    
    .affix img {
        width: 90px !important;
        height: auto;
    }

    #intro p {
        text-align: justify !important;
        padding: 0;
    }
    
   .aboutJumbo  { 
        height: 580px;
        text-align: center;
    }

    .aboutJumbo h1 {
        margin-top: 90px;
        font-size: 200%;
        color: white !important;
    }

    .about_jumbo_paragraph {
        padding-top: 35px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
    
    .aboutBorn {
        padding-top: 80px;
        padding-bottom: 90px;
        height: 2600px;
    }

    .aboutBorn h1 {
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 55px;
    }

    .aboutBorn h5 {
        font-size: 150%;
        padding-top: 20px;
        padding-bottom: 20px; 
    }

    .aboutBorn p {
        text-align: justify;
        font-size: 110%;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }    
    
    #about-end {
        display: none;
    }
    
    .contactJumbo  { 
        height: 250px;
    }
    
    #kontakt-forma {
        height: 550px;
    }
    
    .forma {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .title {
        font-size: 1.5em !important;
        line-height: 30px !important;
        margin-top: 15px;
    }
    .title b {
        font-size: 1.7em !important;
    }
    
    .socialJumbo {
        height: 400px;
        padding: 50px 0 50px 0;
        margin-bottom: 0 !important;
    }
    
    .bigDevicesBtn {
        display: none !important;
    }
    
    .smallDevicesBtn {
        font-size: 120% !important;
        text-align: center;
    }
    
    .contactJumbo {
        height: 350px;
    }

    #myCarousel .item {
        font-size: 70%;
        margin-top: 10px !important;
    }
    
    
    a.buttonService {
        margin: 0 0 30px 90px;
    }
    
    #webDesign .col-md-8 {
        padding: 20px;
    }
    
    #seo .col-md-8 {
        padding: 20px;
    }
    
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
}
